* {
	margin: 0;
	padding: 0;
}

/*handle navbar*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f5f5f5;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.btn-search-price {
  margin-top: auto;
}

/*list product*/
.list-product-title {
  width: 100%;
  text-transform: uppercase;
  margin-left: 5px;
  margin-top: 5px;
}

.list-product-subtitle {
  width: 100%;
  margin-left: 5px;
  margin-top: 5px;
}

/*product card*/

.card-product {
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
  overflow: hidden;
  position: relative;
}

.product-title {
  margin-bottom: 0.25rem;
  text-align: center;
  color: rgba(0,0,0,.8);
  font-weight: bold;
}

.price {
  color: #f90;
  display: block;
  text-align: center;
  font-weight: bold;
}

.price:hover {
  color: red;
  cursor: pointer;
}

.btn-add-to-card {
  color: white !important;
}

.img-content {
  overflow: hidden;
  height: 12rem !important;
  width: auto;
}

.sale-sticky {
  color: white;
  background-color: #f90;
  display: block;
  text-align: center;
  width: 7rem;
  position: absolute;
  top: 15px;
  right: -36px;
  transform: rotate(45deg);
}

.sale-sticky-best-sales{
  color: white;
  background-color: #63cc7a;
  display: block;
  text-align: center;
  width: 7rem;
  position: absolute;
  top: 14%;
  left: -39px;
  transform: rotate(90deg);
}

.detail-product {
  text-align: center;
  color: blue;
  cursor: pointer;
}

.detail-product:hover {
  color: #f90;
}

.box-button {
  justify-content: center;
}

.filter-price {
  color: #6c757d;
}

#top {
  width: 50px; height: 50px; 
  position: fixed; bottom: 10px; right: 10px;
  text-indent: -99999px; 
  cursor: pointer; 
  background-color: #cccccc;
}

/*footer page*/
.footer {
  bottom: 0;
  width: 100%;
  background-color: #9cb0c3;
  color: white;
  text-align: center;
}

/*price range slider*/

